<!DOCTYPE html>
<html ng-app="dose">
<head>
  <title>Dose Tools</title>

  <script src="http://localhost:3000/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <!-- angular -->
  <script src="/js/vendor/angular-resource/angular-resource.min.js"></script>

  <!-- for gridster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/js/vendor/angular-gridster/dist/angular-gridster.min.css"/>
  <script src="/js/vendor/javascript-detect-element-resize/jquery.resize.js"></script>
  <script src="/js/vendor/angular-gridster/dist/angular-gridster.min.js"></script>
  
 

  <!-- satellizer -->
  <script type="text/javascript" src="/js/vendor/satellizer/satellizer.min.js"></script>
<!--   jwt -->
  <script src="/js/vendor/angular-jwt/dist/angular-jwt.min.js"></script>
  <!-- bluebird -->
  <script src="/js/vendor/bluebird/js/browser/bluebird.min.js"></script>

  <!-- link to controllers, directives and services -->
  <script src="/js/app.js" charset="utf-8"></script>
  <script src="/js/models/tool.js" charset="utf-8"></script>
  <script src="/js/services/transport.js" charset="utf-8"></script>
  <script src="/js/controllers/user.js" charset="utf-8"></script>
  <script src="/js/services/oauthKeys.js" charset="utf-8"></script>
  <script src="/js/services/token.js" charset="utf-8"></script>
  <script src="/js/services/word.js" charset="utf-8"></script>
  <script src="/js/services/guardian.js" charset="utf-8"></script>
  <script src="/js/services/guardianAll.js" charset="utf-8"></script>
  <script src="/js/services/video.js" charset="utf-8"></script>
  <script src="/js/services/location.js" charset="utf-8"></script>
  <script src="/js/controllers/main.js" charset="utf-8"></script>
  <script src="/js/directives/guardiansport.js" charset="utf-8"></script>
  <script src="/js/directives/guardianall.js" charset="utf-8"></script>
  <script src="/js/directives/video.js" charset="utf-8"></script>
  <script src="/js/directives/transport.js" charset="utf-8"></script>
  <script src="/js/directives/word.js" charset="utf-8"></script>
  <script src="/js/directives/clock.js" charset="utf-8"></script>
  <script src="/js/directives/weather.js" charset="utf-8"></script>
  <script src="/js/services/weather.js" charset="utf-8"></script>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link href='https://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body ng-controller="UserController as user">
  <div ng-controller="MainController as main">
  <header>
    

    <div ng-show="main.isLoggedIn()">
      <img ng-src="{{ main.currentUser.picture }}">
      <p class="name">{{ main.currentUser.name }} | dose</p>

      <button class="logout name" ng-click="main.logout()"><i class="fa fa-sign-out"></i> Logout</button>
      <button class="delete circle" ng-click="delete = !delete; main.setOpacity()"><i class="fa fa-minus"></i></button>
      <button class="add circle" ng-click="show = !show; main.setOpacity()"><i class="fa fa-plus"></i></button>
       
    </div>
  </header>

  <div ng-hide="main.isLoggedIn()" class="center-login">
    <h1 class="title">DOSE</h1>
   
    <button class="facebook" ng-click="main.authenticate('facebook')"><i class="fa fa-facebook-square"></i> Sign in with Facebook</button><p>or</p>
    <button ng-click="main.authenticate('github')" class="github"><i class="fa fa-github-square"></i> Sign in with Github</button>


  </div>
  <div ng-show="show" class="center-add">
  <button class="close" ng-click="main.deleteOpacity(); show = !show"><i class="fa fa-minus"></i></button>
  <div class="head">
    <p>add a dose tool</p>
  </div>

    <form ng-submit="main.addTool(tool)">
      <select ng-model="tool.tools">
        <option>Weather</option>
        <option>Word</option>
        <option>Ted</option>
        <option>Tfl</option>
        <option>Clock</option>
        <option>Note</option>
        <option>Sport</option>
        <option>Allnews</option>
      </select>
    <button class="btn btn-default"><i class="fa fa-plus"></i></button>
        </form>
        <p>Change background</p>
        <form ng-submit="main.backgroundChange(word)">
          <select ng-model="word">
            <option>forest</option>
            <option>forestTwo</option>
            <option>sun</option>
            <option>night sky</option>
          </select>
        <button class="btn btn-default"><i class="fa fa-plus"></i></button>
            </form>
     <!-- change opacity back on close and hide div   --> 
    
  </div>
   <div ng-show="delete" class="center-add">
   <button class="close" ng-click="main.deleteOpacity(); delete = !delete"><i class="fa fa-minus"></i></button>
   <div class="head">
     <p>delete a dose tool</p>
   </div> 
    <form class="new" ng-submit="main.deleteTool(tools.tool)">
      <select ng-model="tools.tool">
        <option ng-repeat="tool in main.tools track by $index">{{ tool }}</option>
      </select>
      <button class="btn btn-default">delete</button>
    </form>
    
  </div>
    <section id="board" ng-show="main.isLoggedIn()">
  <!--   <div class="container"> -->
    <div data-gridster>
        <ul>
        <li ng-show="!!main.hasTool('Weather')" data-gridster-item data-row="0" data-col="0" data-sizex="1" data-sizey="2"><div class="dg-weather tile info" dg-data="user.temperature"></div>
        </li>
        <li ng-show="!!main.hasTool('Word')" data-gridster-item data-row="1" data-col="2" data-sizex="2" data-sizey="2" ><div class="dg-word tile info" dg-data="user.word"></div></li>
        <li ng-show="!!main.hasTool('Tfl')" data-gridster-item data-row="1" data-col="1" data-sizex="2" data-sizey="1" ><div class="dg-transport tile info" dg-data="user.status"></div><i class="fa fa-minus" ng-click="main.deleteTool('Tfl')"></i></li>

        <li ng-show="!!main.hasTool('Ted')" data-gridster-item data-row="1" data-col="3" data-sizex="2" data-sizey="1" ><div class="headline-video">TED <i class="fa fa-minus" ng-click="main.deleteTool('Ted')"></i></div><div class="dg-video tile info" dg-data="user.video"></div></li>

        <li ng-show="!!main.hasTool('Clock')" data-gridster-item data-row="2" data-col="0" data-sizex="1" data-sizey="1" ><div class="dg-clock info"></div></li>
        
        <li ng-show="!!main.hasTool('Sport')" data-gridster-item data-row="2" data-col="4" data-sizex="1" data-sizey="1" ><div class="cont-news"><div class="headline-sport">guardian | sport <i class="fa fa-minus" ng-click="main.deleteTool('Sport')"></i></div><div class="container info"><div class="dg-GSport info tile" dg-data="user.sport"></div></div></div></li> 

        <li ng-show="!!main.hasTool('Allnews')" data-gridster-item data-row="3" data-col="0" data-sizex="1" data-sizey="1" ><div class="cont-news"><div class="headline-all">guardian | uk <i class="fa fa-minus" ng-click="main.deleteTool('Allnews')"></i></div><div class="container info"><div class="dg-GAll info tile" dg-data="user.allNews"></div></div></div></li>

        <li ng-show="!!main.hasTool('Note')" data-gridster-item data-row="2" data-col="2" data-sizex="2" data-sizey="1" ><div class="info tile-note"><div class="headline-news">notes<i class="fa fa-minus" ng-click="main.deleteTool('Note')"></i></div><ul class="cont-note">
          <li class="notes" ng-repeat="note in user.notes track by $index">
            <p class="notes-text">{{ note.note }}</p>
          </li>
        </ul><form ng-submit="user.sendNote(main.currentUser._id)" class="form-inline"><div class="form-group"><input ng-model="user.note" class="note"></div><button class="btn btn-secondary-outline add-note">add note</button></form></div></li>
      </ul>
    </div>
   <!--  </div> -->
    </section>
  </div>
</body>
</html>